@{
    ViewData["Title"] = "甜糖星愿自动收取";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6" id="div-login">
            <div>
                <h1 class="title text-center">获取Token</h1>
                <form class="border form-padding-top">
                    <div class="form-group row align-items-center margin-left-right">
                        <label for="phone_number" class="col-4 col-form-label text-right no-left-padding">手机号码</label>
                        <div class="col-4 no-left-padding">
                            <input type="text"
                                   class="form-control"
                                   id="phone_number"
                                   name="phone_number"
                                   autocomplete="off"
                                   onkeyup="this.value=this.value.replace(/\D/g,'')"
                                   onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                        </div>
                        <div class="col-4 no-left-padding">
                            <input type="button" class="btn-block" id="get_sms_code" value="获取手机验证码" onclick="sendSMSCode()"/>
                        </div>
                    </div>
                    <div class="form-group row align-items-center margin-left-right">
                        <label for="sms_code" class="col-4 col-form-label text-right no-left-padding">短信验证码</label>
                        <div class="col-4 no-left-padding">
                            <input type="text" id="sms_code" name="sms_code" autocomplete="off" class="form-control"/>
                        </div>
                        <div class="col-4 no-left-padding">
                            <input type="button" class="btn-block" id="verify_sms_code" value="登录" onclick="verifySMSCode()"/>
                        </div>
                    </div>
                    <hr class="margin-left-right"/>
                    <div class="form-group row align-items-center margin-left-right">
                        <label for="current_phone_number" class="col-6 col-form-label text-right no-left-padding">当前登录的手机号：</label>
                        <div class="col-4 no-left-padding">
                            <input type="text" readonly class="form-control-plaintext" id="current_phone_number" value="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6" id="div-push-keys">
            <div>
                <h1 class="title text-center">注册通知通道</h1>
                <form class="border form-padding-top">
                    <div class="form-group row align-items-center margin-left-right">
                        <label for="server_chan_send_key" class="col-3 col-form-label text-right no-left-padding">Server酱</label>
                        <div class="col-9 no-left-padding">
                            <input autocomplete="off" class="form-control" id="server_chan_send_key" name="server_chan_send_key" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row align-items-center margin-left-right">
                        <label for="bark_token" class="col-3 col-form-label text-right no-left-padding">Bark</label>
                        <div class="col-9 no-left-padding">
                            <input autocomplete="off" class="form-control" id="bark_token" name="bark_token" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row align-items-center margin-left-right">
                        <div class="col-6">
                            <input class="btn-block" type="button" id="update_keys" value="更新" onclick="updateNotificationKeys()"/>
                        </div>
                        <div class="col-6">
                            <input class="btn-block" type="button" id="test_notification" value="测试" onclick="testNotificationKeys()"/>
                        </div>
                    </div>
                    <hr class="margin-left-right"/>
                    <div class="form-group col-12 text-center">
                        <lable>测试前需要先执行更新操作</lable>
                        <br/>
                        <lable>留空后更新即可删除对应通知通道</lable>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>