name: Build and publish executable

on:
  push:
    branches: [ master, tagging-and-releasing ]
    paths: ['tiantang-auto-harvest/**', '.github/workflows/build-executable.yml']
    tags: ['*']
  workflow_dispatch:

jobs:
  build-executable:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Setup .NET
        uses: actions/setup-dotnet@v2

      - name: Install GitVersion
        run: dotnet tool install --global GitVersion.Tool --version 5.*
        
      - name: Install dotnet-setversion
        run: dotnet tool install --global dotnet-setversion
        
      - name: Set release version on tagging
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "$GITHUB_REF_NAME" && setversion "$GITHUB_REF_NAME" ./tiantang-auto-harvest/tiantang-auto-harvest.csproj
        
      - name: Set feature version on committing to branch
        if: startsWith(github.ref, 'refs/heads/')
        run: echo "$GITHUB_REF_NAME" && setversion "$(dotnet-gitversion -ShowVariable MajorMinorPatch)-${GITHUB_REF_NAME}" ./tiantang-auto-harvest/tiantang-auto-harvest.csproj

      - name: Publish Windows x64
        run: dotnet build -c Release -p:DeployOnBuild=true -p:PublishProfile=win-x64

      - name: Publish Linux x64
        run: dotnet build -c Release -p:DeployOnBuild=true -p:PublishProfile=linux-x64

      - name: Publish Linux arm64
        run: dotnet build -c Release -p:DeployOnBuild=true -p:PublishProfile=linux-arm64

      - name: Publish Linux arm-v7
        run: dotnet build -c Release -p:DeployOnBuild=true -p:PublishProfile=linux-arm-v7

      - name: Make binary files executable
        working-directory: tiantang-auto-harvest/bin/Release
        run: chmod 755 linux-x64/tiantang-auto-harvest && chmod 755 linux-arm64/tiantang-auto-harvest && chmod 755 linux-arm-v7/tiantang-auto-harvest

      - name: Archive files for Windows
        working-directory: tiantang-auto-harvest/bin/Release
        run: zip -r win-x64.zip win-x64

      - name: Archive files for Linux x64
        working-directory: tiantang-auto-harvest/bin/Release
        run: tar cvzf linux-x64.tar.gz linux-x64

      - name: Archive files for Linux arm64
        working-directory: tiantang-auto-harvest/bin/Release
        run: tar cvzf linux-arm64.tar.gz linux-arm64

      - name: Archive files for Linux arm v7
        working-directory: tiantang-auto-harvest/bin/Release
        run: tar cvzf linux-arm-v7.tar.gz linux-arm-v7
        
      - name: Upload artifact for Windows x64
        uses: actions/upload-artifact@v2
        with: 
          name: win-x64-${{ github.sha }}
          path: tiantang-auto-harvest/bin/Release/win-x64.zip
          if-no-files-found: error
          retention-days: 7
     
      - name: Upload artifact for Linux x64
        uses: actions/upload-artifact@v2
        with:
          name: linux-x64-${{ github.sha }}
          path: tiantang-auto-harvest/bin/Release/linux-x64.tar.gz
          if-no-files-found: error
          retention-days: 7
     
      - name: Upload artifact for Linux arm64
        uses: actions/upload-artifact@v2
        with:
          name: linux-arm64-${{ github.sha }}
          path: tiantang-auto-harvest/bin/Release/linux-arm64.tar.gz
          if-no-files-found: error
          retention-days: 7
     
      - name: Upload artifact for Linux arm v7
        uses: actions/upload-artifact@v2
        with:
          name: linux-arm-v7-${{ github.sha }}
          path: tiantang-auto-harvest/bin/Release/linux-arm-v7.tar.gz
          if-no-files-found: error
          retention-days: 7
