name: Build and publish the image

on:
  push:
    branches: [ master ]
    # Triggers only when the source code is changed
    paths: ['.github/workflows/build-image.yml', 'tiantang-auto-harvest/**']

jobs:
  build-latest-dev:
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: https://hub.docker.com/
      DOCKER_TARGET_PLATFORM: linux/amd64
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      
      - name: Login to Docker Hub
        uses: docker/login-action@v1.13.0
        with: 
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
          
      - name: Login to Aliyun Container Registry
        uses: docker/login-action@v1.13.0
        with: 
          registry: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}
      
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1.6.0
      
      - name: Cache Docker layers
        uses: actions/cache@v2.1.7
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            boris1993/tiantang-auto-harvest:latest
            registry.cn-hangzhou.aliyuncs.com/boris1993/tiantang-auto-harvest:latest
      
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2.9.0
        with:
          context: ./
          file: ./tiantang-auto-harvest/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          builder: ${{ steps.buildx.outputs.name }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
