name: Update the README in Docker Hub

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths: [ "README.md", ".github/workflows/update-readme.yml" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: https://hub.docker.com/
      DOCKER_TARGET_PLATFORM: linux/amd64
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
          repository: boris1993/tiantang-auto-harvest
          short-description: ${{ github.event.repository.description }}
